<div class="text-center">
  <img
    src="https://cdn.prod.website-files.com/61845f7929f5aa517ebab941/63a06f726c26c8dda5deba70_The%20Battle%20of%20Authentication-%20Which%20Type%20Is%20Most%20Secure.jpg"
    class="img-fluid rounded"
    alt="Rounded Image"
    width="300"
    height="500"
  />

  <h1 class="mt-3">Welcome to the Profile Page</h1>
  <p class="text-success">You've successfully entered the profile page</p>

  <table class="table table-bordered mt-3">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.fullName %></td>
        <td><%= user.email %></td>
        <td><%= user.password.substr(0, 10) + "..." %></td>
      </tr>
    </tbody>
  </table>

  <div class="mt-3">
    <a href="/logout" class="btn btn-danger">Log out</a>
    <a href="/" class="btn btn-secondary">Home</a>
  </div>
</div>
